/* Color Palette created via https://paletton.com/ and http://coolors.co */

$d-first: #001233;
$d-second: #6e0d25;
$d-third: #ff2e00;
$d-light: #FFFEFE;
$d-dark: #02040f;

$d-light-1: #F7F3F3;
$d-light-2: #CDC4C4;
$d-light-3: #A89797;

$d-dark-1: #000105;
$d-dark-2: #000000;

$d-first-1: #001845;
$d-first-2: #002855;
$d-first-3: #023e7d;
$d-first-4: #0353a4;
$d-first-5: #0466c8;

$d-alert: #fcca46;
$d-success: #79b473;
$d-warn: #06bee1;
